@charset "UTF-8";
/*CSS Document*/

body {
    background-color: #bec2c8;
  }

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    font-size: 30px;
    text-align: center;
}

.flex-item-1 {
    background-color: #00006f;
    padding: 10px;  
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-item-2 {
    background-color: #00006f;
    padding: 10px;  
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (min-width: 425px) {
    .flex-container {
        flex:100%;
    }
}