@charset "UTF-8";
/*CSS Document*/

body {
    background-color: #bec2c8;
  }

img {
    width: 425px;
    height: 100%;
    padding: 10px;
    margin: 0px;

}

img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 1s;
}

.flex-container{
    display: flex;
    width: 100%;
    max-width: 1600px;
    flex-wrap: wrap;
    justify-content: center;
}


